@page
@model Web.Pages.Saved.EventsModel

@{
    ViewData["ActiveSavedTab"] = "Events";
}

@if(Model.Events != null && Model.Events.Count > 0)
{
    <div class="row">
        @foreach(var event_ in Model.Events)
        {
            <partial name="_EventIndexCard" model="@event_" />
        }
    </div>

    <partial name="_Pagination" model="@Model.Pagination" />
}
