@page
@model Web.Pages.Saved.IndexModel

@if(Model.Articles != null)
{
    <div class="row">
        @foreach(var article in Model.Articles)
        {
            <partial name="_ArticleCard" model="@ValueTuple.Create(article, "/Saved/Index")"/>
        }
    </div>

    <partial name="_Pagination" model="@Model.Pagination" />
}
