@page
@model Web.Pages.Launches.IndexModel

<form class="d-flex pb-3 gap-1" method="post">
    <input asp-for="SearchValue" class="form-control" placeholder="Search" />
    <button class="btn btn-success" type="submit">Search</button>
</form>

@if(Model.Launches != null)
{
    <div class="row">
    @foreach(var launch in Model.Launches)
    {
        <partial name="_LaunchIndexCard" model="@launch"/>
    }
    </div>

    <partial name="_Pagination" model="@Model.Pagination"/>
}

