@page
@model Web.Areas.Identity.Pages.Account.Manage.DeleteAccountModel

@{
    ViewData["ActivePage"] = "DeleteAccount";
}

<form id="delete-user" method="post" class="form-group">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model.RequirePassword)
    {
        <div class="form-group mb-2">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
    }
    <button class="btn btn-danger w-100 btn-lg" type="submit">Delete account</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}