@page
@model Web.Pages.News.IndexModel

<form class="d-flex pb-3 gap-1" method="post">
    <input asp-for="SearchValue" class="form-control" placeholder="Search" />
    <button class="btn btn-success" type="submit">Search</button>
</form>

@if(Model.Articles != null)
{
    <div class="row">
    @foreach(var article in Model.Articles)
    {
        <partial name="_ArticleCard" model="@ValueTuple.Create(article, "/News/Index")"/>
    }
    </div>

    <partial name="_Pagination" model="@Model.Pagination"/>
}

