@inject IJSRuntime _jsRuntime
@using MudBlazor
@using SpaceHub.Contracts.Utils;

<div class="d-flex flex-column align-center my-8">
    <MudPagination Count="@PagesCount" Size="Size.Large" SelectedChanged="OnPageChanged"/>
</div>

@code {
    [Parameter]
    public int PagesCount { get; set; }

    [Parameter]
    public EventCallback PageChanged { get; set; }

    private Contracts.Utils.Pagination _pagination = new();

    public IReadOnlyList<(string, string)> GetQueryParameters()
    {
        return new List<(string, string)>()
        {
            ("pageNumber", _pagination.PageNumber.ToString()),
            ("itemsPerPage", _pagination.ItemsPerPage.ToString()),
        };
    }

    private async Task OnPageChanged(int pageNumber)
    {
        _pagination.PageNumber = pageNumber;
        await PageChanged.InvokeAsync();
        await _jsRuntime.InvokeVoidAsync("window.scrollTo", 0, 0);
    }
}
