@page "/news"
@using Application.Features.News;
@using MediatR;

@foreach(var article in articles)
{
    <h3>
        @article.Title
    </h3>
}

@code {
    [Inject]
    private IMediator mediator { get; set; }

    private List<ArticleViewModel> articles { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        articles = await mediator.Send(new GetAllNewsQuery());
    }
}
