@page
@model Web.Pages.Rockets.DetailsModel

<div class="row">
    <h3>
        Rocket
    </h3>
    <hr />
    <partial name="_RocketDetailsCard" model="@Model.Rocket" />
    <h3>
        Manufacturer
    </h3>
    <hr />
    <partial name="_AgencyCard" model="@Model.Manufacturer" />
</div>
