@page
@model Web.Pages.Rockets.IndexModel

<form class="d-flex pb-3">
    <input asp-for="SearchValue" class="form-control me-sm-2" placeholder="Search" />
    <button class="btn btn-success my-2 my-sm-0" asp-page="/Rockets/Index" type="submit">Search</button>
</form>

@if(Model.Rockets != null)
{
    <div class="row">
    @foreach(var rocket in Model.Rockets)
    {
        <partial name="_RocketIndex" model="@rocket" />
    }
    </div>

    <partial name="_Pagination" model="@Model.Pagination"/>
}

