@page
@model Web.Pages.Events.IndexModel

<form class="d-flex pb-3 gap-1" method="post">
    <input asp-for="SearchValue" class="form-control" placeholder="Search" />
    <button class="btn btn-success" type="submit">Search</button>
</form>

@if(Model.Events != null)
{
    <div class="row">
        @foreach(var event_ in Model.Events)
        {
            <partial name="_EventIndexCard" model="@event_"/>
        }
    </div>

    <partial name="_Pagination" model="@Model.Pagination"/>
}
