@page
@model IndexModel

@if(Model.Articles != null)
{
    <h3>
        News
    </h3>
    <hr />
    <div class="row">
        @foreach(var article in Model.Articles)
        {
            <partial name="_ArticleCard" model="@ValueTuple.Create(article, "/Index")"/>
        }
    </div>
}
@if(Model.Launches != null)
{
    <h3>
        Launches
    </h3>
    <hr />
    <div class="row">
        @foreach(var launch in Model.Launches)
        {
            <partial name="_LaunchIndexCard" model="@launch"/>
        }
    </div>  
}
@if(Model.Events != null)
{
    <h3>
        Events
    </h3>
    <hr />
    <div class="row">
        @foreach(var event_ in Model.Events)
        {
            <partial name="_EventIndexCard" model="@event_"/>
        }
    </div>   
}
