<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownSaved" data-bs-toggle="dropdown" role="button" expanded="false">
            @User.Identity.Name
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownSaved">
            <li>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Account</a>
            </li>
            <li>
                <a class="dropdown-item" asp-page="/Saved/News">Saved</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
