@model PadCardViewModel

<div class="col-12">
    <div class="card mb-4">
        <div class="card-body text-center">
            <h2 class="card-title">
                @Model.Name
            </h2>
            <h4 class="text-muted">
                @Model.LocationName
            </h4>
        </div>
        <img src="@Model.MapImageUrl" class="img-fluid rounded-bottom card-img-bottom" />
    </div>
</div>
